
.login{
    position: relative;
    width: 40rem;
    margin: 0 auto;
}
.loginContainer{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.gif{
    width: 10rem;
    height: 10rem;
    border: 1px solid black;
    border-radius: 70%;
}
.formHeader{
    color: #282c34;
    font-size: 30px;
    font-weight: 500;
}
.formHeaderPart{
    color:  rgb(13, 213, 13);
}
.formInput{
    background-color: #282c34;
    position: relative;
    width: 20rem;
    height: 22rem;
    margin: 0 auto;
    border-radius: 20px;
    border: 1px solid #282c38;
    margin: 2px;
    transition: 0.3s;
}
.mainInput{
    margin-top: 20px;
}
label{
    left: 40px;
    position: absolute;
    font-size: 16px;
    font-weight: 500;
    color: #fafafa;
    text-transform: capitalize;
}
input{
    width: 15rem;
    height: 22px;
    border-radius: 5px;
    border-width: 1px;
    margin-top: 5px;
}
a{
    margin-top: 15px;
    color: #fafafa;
}
.loginBtn{
    position: absolute;
    left: 5rem;
    top: 11rem;
    width: 10rem;
    height: 2rem;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 1px;
    color: #555;
    background-color: rgb(13, 213, 13);
    border: none;
    border-radius: 4px;
}
.SignUpBtn{
    width: 10rem;
    height: 2rem;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 1px;
    color: #555;
    background-color: rgb(13, 213, 13);
    border: none;
    border-radius: 4px;
    margin: 10px;
}
.otherOptionLog{
    margin-top: 50px;
}
.otherLog{
    font-size: 18px;
    color: #fafafa;
    font-weight: 500;
    text-transform: capitalize;
}
.otherCont button{
    width: 85px;
    height: 40px;
    margin: 5px;
}
.welcomeTextBody{
    width: 20rem;
    height: 22rem;
    border-radius: 20px;
    margin-top: 80px;
    background-color: #282c34;
    transform: 0.3s;
}
.welcomeText h1{
    color: #fafafa;
    font-size: 25px;
    font-family: monospace;
}
.welcomeTextPara{
    font-family: monospace;
    font-size: 15px;
    color: #fafafa;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: capitalize;
}
.signup{
    width: 10rem;
    height: 2rem;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 1px;
    color: #555;
    background-color: rgb(13, 213, 13);
    border: none;
    border-radius: 4px;
    margin-top: 30px;
}