
.CardBody{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.cardContent{
    margin: 15px;
    width: 25rem;
    height: 26rem;
    border-radius: 35px;
    text-align: center;
    align-items: center;
    background-color: #f2f5f9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
     0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 
.cardImg{
    width: 20rem;
    height: 18rem;
    margin: 0 auto;
    border: none;
    border-radius: 35px;
}
.cardInforHeader{
    text-align: center;
    font-size: 22px;
    font-family: cursive;
    color: #282c34;
    font-weight: 600;
    margin: 0px;
    text-transform: capitalize;
}
.cardInforText {
    text-align: center;
}
.cardPrice{
    margin: 3px;
    font-size: 18px;
    font-family: monospace;
    font-weight: 600;
    color: #282c34;
}
.cardPrice span{
    font-weight: 500;
    color: #282c34;
}
p{
    margin: 2px;
    color: #282c34;
    text-transform: capitalize;
    font-size: 14px;
    font-family: monospace;
}
.cardInfoBtn button{
    position: relative;
    width: 5rem;
    height: 2rem;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    background-color: rgb(13, 213, 13);
}
.likeBtn{
    position: absolute;
    left: -20%;
}
.addCartBtn{
    position: absolute;
    left: 20%;
}
/*next and preview button*/
.NextPreviewBtn{
    text-align: center;
    margin: 0 auto;
}
.NextPreviewBtnBody button{
    width: 5rem;
    height: 3rem;
    border: none;
    font-size: 15px;
    font-weight: bold;
    font-family: cursive;
    color: #fff;
    background-color: rgb(13, 213, 13);
    border-radius: 20px;
    margin: 10px;
    transition: 0.3s;
}
.NextPreviewBtnBody button:hover{
    background-color: rgb(8, 182, 8);
}

/* media queries */
@media(max-width: 767px) {
    /* moblie devices */
    .cardContent{
        margin: 15px;
        width: 23rem;
        height: 26.5rem;
    } 
    .cardImg{
        width: 18rem;
        height: 17rem;
    }
    .cardInforText {
        text-align: center;
    }
    .cardPrice{
        font-size: 20px;
    }
    p{
        margin-bottom: -5px;
        font-size: 18px;
        font-family: cursive;
    }
    .likeBtn{
        position: absolute;
        left: -17%;
    }
    .addCartBtn{
        position: absolute;
        left: 17%;
    }
}

@media(min-width: 768px) {
    /* tablet devices */
    
}

@media(min-width: 1024px) {
    /* default/ desktop devices */
}