
.subHeader{
    margin: 7px;
    text-align: center;
    font-size: 30px;
    font-family: cursive;
    color: #282c34;
    text-transform: capitalize;
}

/* media queries */
@media(max-width: 767px) {
    /* moblie devices */
    .subHeader{
        font-size: 20px;
    }
}